<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="icon" href="/img/Happiness.jpeg">
    <link rel="StyleSheet" href="/css/StyleSheet.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">

    {{>header}}

    <p>i mean like this is what a {{name}} would be :')</p>

    </div>

    {{>footer}} 
</body>
</html>