<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Help</title>
    <link rel="icon" href="/img/Happiness.jpeg">
    <link rel="StyleSheet" href="/css/StyleSheet.css">
</head>
<body>
    <div class="main-content">

    {{>header}}
    <img class="Happy" src="/img/Happiness.jpeg">
    <p>{{paragraph}}</p>

    </div>

    {{>footer}} 
</body>
</html>