<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/Happiness.jpeg">
    <link rel="StyleSheet" href="/css/StyleSheet.css">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <p class="main_text">A page to get weather data</p>
    <form id="LocSubmit">
        <input placeholder="Location" id ="Locinput">
        <button>Submit</button>
    </form>
    <p id="msg1" class="output"></p>
    <p id="msg2" class="output"></p>
    </div>

    
    {{>footer}} 
    <script src="/js/app.js"></script>
</body>
</html>